@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.goggle-font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* shared style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    color: #FFFFFF;
    padding: 7px 9px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* navbar style */

header {
    background-color: #1A0B2E;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 24px;
    padding-top: 18px;
    border: 1px solid rgb(0, 0, 0);
}

nav .nav-list {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

nav .nav-list li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;

}

.logo {
    font-size: 1.2rem;
}

.tech {
    color: #FFFFFF;
}

.wave {
    background: linear-gradient(90deg, #ff4fd8 0%, #a855f7 50%, #6b2cf5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hamburger {
    display: none;
    flex-direction: column;
}


/* banner style */

.banner-image {
    width: 1340px;
    height: 550px;
    padding-top: 40px;
}

.circle {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 274px;
    height: 274px;
}

.badge {
    position: absolute;
    top: 33%;
    left: 56%;
    color: #1A0B2E;
    background: #00FF88;
    border: none;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: xx-small;
}

.microphone {
    position: absolute;
    top: 40%;
    left: 46%;
    width: 110px;
    height: 140px;
}

.banner-container {
    text-align: center;
    margin-top: 5px;
}

.banner-title {
    font-size: 50px;
    color: #FFFFFF;
}

.banner-description {
    font-size: 14px;
    color: #FFFFFF;
}

.message-btn {
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
    padding: 7px 9px;
    border-radius: 15px;
    cursor: pointer;
}

.banner-btn {
    margin-top: 10px;
}

.banner-btn-1 {
    padding-right: 5px;
    width: 15px;
}

.banner-btn-2 {
    padding-right: 5px;
    width: 18px;
}


/* podcast style */

.podcast-section {
    text-align: center;
}

.podcast-header {
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 3px;
}

.podcast-description {
    font-size: 14px;
    color: #FFFFFF;
}

/* .horizontal {
    width: 1000px;
    align-content: center;
    border: 1px solid rgb(0, 0, 0);
} */

.podcast-card {
    display: flex;
    padding-top: 120px;
    padding-left: 300px;
    gap: 15px;
    padding-bottom: 70px;
}

.podcast-card-container {
    width: 200px;
    height: 80px;
}

.podcast-card-container h2 {
    color: #00FF88;
    font-size: 35px;
}

.podcast-card-container p {
    color: #FFFFFF;
    font-size: 14px;
}

/* TechWave style */

.techwave-section {
    background: rgba(35, 14, 61, 1);
    padding-top: 120px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 120px;
}

.section-heading {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.feature-card-1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.feature-card-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 15px;
}

.card-img {
    margin-bottom: 5px;
}

.card-1 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 280px;
    height: 360px;
    padding: 60px 30px;
    border-radius: 40px;
}


.card-2 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 700px;
    height: 170px;
    padding: 40px 40px;
    border-radius: 40px;
    margin-bottom: 15px;
}

.card-3 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 700px;
    height: 170px;
    padding: 30px 40px;
    border-radius: 40px;
    margin-bottom: 15px;
}

.card-4 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 630px;
    height: 250px;
    padding: 30px 40px;
    border-radius: 40px;
}

.card-5 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 320px;
    height: 250px;
    padding: 40px 40px;
    border-radius: 40px;
}

.card-title {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 10px;
}

.card-description {
    color: #FFFFFF;
    font-size: 14px;
}

/* feature-episode style */

.feature-episode {
    background: #1A0B2E;
    padding-top: 60px;
    padding-bottom: 50px;
}

.feature-episode-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

/* challenge style */

.host-section {
    background: rgba(53, 17, 101, 0.4);
    width: 1000px;
    height: 240px;
    display: flex;
    border-radius: 40px;
}

.host {
    padding-left: 200px;
    padding-right: 200px;
}

.host-img {
    padding: 20px 30px;
}

.host-details {
    padding: 40px 20px;
    color: #FFFFFF;
}

.host-details h3 {
    font-size: 28px;
    padding-bottom: 5px;
}

.host-details p {
    font-size: 14px;
    padding-bottom: 5px;
}

.social-site {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 25px;
    height: 25px;
}

/* responsive media query */

@media screen and (max-width: 576px) {
    .nav-list {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}