@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.goggle-font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* shared style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    color: #FFFFFF;
    padding: 7px 9px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* navbar style */

header {
    background-color: #1A0B2E;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 24px;
    padding-top: 18px;
    border: 1px solid rgb(0, 0, 0);
}

nav .nav-list {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

nav .nav-list li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;

}

.logo {
    font-size: 1.2rem;
}

.tech {
    color: #FFFFFF;
}

.wave {
    background: linear-gradient(90deg, #ff4fd8 0%, #a855f7 50%, #6b2cf5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hamburger {
    display: none;
    width: 28px;
    cursor: pointer;
}


/* banner style */

.banner-image {
    width: 1340px;
    height: 550px;
    padding-top: 40px;
}

.circle {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 274px;
    height: 274px;
}

.badge {
    position: absolute;
    top: 33%;
    left: 56%;
    color: #1A0B2E;
    background: #00FF88;
    border: none;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: xx-small;
}

.microphone {
    position: absolute;
    top: 40%;
    left: 46%;
    width: 110px;
    height: 140px;
}

.banner-container {
    text-align: center;
    margin-top: 5px;
}

.banner-title {
    font-size: 50px;
    color: #FFFFFF;
}

.banner-description {
    font-size: 14px;
    color: #FFFFFF;
}

.btn-spotify {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    color: #FFFFFF;
    padding: 7px 9px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.message-btn {
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
    padding: 7px 9px;
    border-radius: 15px;
    cursor: pointer;
}

.banner-btn {
    margin-top: 10px;
}

.banner-btn-1 {
    padding-right: 5px;
    width: 15px;
}

.banner-btn-2 {
    padding-right: 5px;
    width: 18px;
}


/* podcast style */

.podcast-section {
    text-align: center;
}

.podcast-header {
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 3px;
}

.podcast-description {
    font-size: 14px;
    color: #FFFFFF;
}


.podcast-card {
    display: flex;
    padding-top: 120px;
    padding-left: 300px;
    gap: 15px;
    padding-bottom: 70px;
}

.podcast-card-container {
    width: 200px;
    height: 80px;
}

.podcast-card-container h2 {
    color: #00FF88;
    font-size: 35px;
}

.podcast-card-container p {
    color: #FFFFFF;
    font-size: 14px;
}

/* TechWave style */

.techwave-section {
    background: rgba(35, 14, 61, 1);
    padding-top: 120px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 120px;
}

.section-heading {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.feature-card-1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.feature-card-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 15px;
}

.card-img {
    margin-bottom: 5px;
}

.card-1 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 280px;
    height: 360px;
    padding: 60px 30px;
    border-radius: 40px;
}


.card-2 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 700px;
    height: 170px;
    padding: 40px 40px;
    border-radius: 40px;
    margin-bottom: 15px;
}

.card-3 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 700px;
    height: 170px;
    padding: 30px 40px;
    border-radius: 40px;
    margin-bottom: 15px;
}

.card-4 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 630px;
    height: 250px;
    padding: 30px 40px;
    border-radius: 40px;
}

.card-5 {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 320px;
    height: 250px;
    padding: 40px 40px;
    border-radius: 40px;
}

.card-title {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 10px;
}

.card-description {
    color: #FFFFFF;
    font-size: 14px;
}

/* feature-episode style */

.feature-episode {
    background: #1A0B2E;
    padding-top: 60px;
    padding-bottom: 50px;
}

.feature-episode-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 80px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.feature-card {
    border: 1px solid rgba(53, 17, 101, 0.4);
    background: rgba(53, 17, 101, 0.4);
    width: 370px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.video-content {
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
}

.video-content h3,
.video-content p {
    width: 100%;
    color: #FFFFFF;
}

.video-content h3 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.video-content p {
    font-size: 16px;
    gap: 10px;
}

.p-1 {
    padding-bottom: 10px;
}

.p-2 img {
    align-items: center;
    gap: 5px;
}

/* challenge style */

.host-section {
    background: rgba(53, 17, 101, 0.4);
    width: 1000px;
    height: 240px;
    display: flex;
    border-radius: 40px;
}

.host {
    padding-left: 200px;
    padding-right: 200px;
}

.host-img {
    padding: 20px 30px;
}

.host-details {
    padding: 40px 20px;
    color: #FFFFFF;
}

.host-details h3 {
    font-size: 28px;
    padding-bottom: 5px;
}

.host-details p {
    font-size: 14px;
    padding-bottom: 10px;
}


/* footer style */

.footer-image {
    width: 1350px;
    height: 350px;
}

.footer {
    position: relative;
}

.footer-content {
    position: absolute;
    bottom: 130px;
    left: 530px;
    z-index: 2;
    gap: 5px;
}

.logo-2 {
    font-size: 1.8rem;
}

.footer-socials {
    display: flex;
}

.footer-socials a {
    color: #FFFFFF;
    gap: 6px;
    text-decoration: none;
}

.footer-content p {
    color: #FFFFFF;
    font-size: 14px;
    opacity: 0.6;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 20px;
}


.icon-twitter {
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 65px;
}


/* animation style */

.badge {
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.8);
        box-shadow: 0000 rgba(35, 14, 61, 1);
    }

    70% {
        transform: scale(2.2);
        box-shadow: 00010px rgba(35, 14, 61, 1);
    }

    100% {
        transform: scale(1.8);
        box-shadow: 0000px rgba(35, 14, 61, 1);
    }
}


/* responsive media query */

@media screen and (max-width: 576px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .nav-list a,
    .btn {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 24px;
        padding-top: 18px;
        border: 1px solid rgb(0, 0, 0);
    }

    .banner-image {
        width: 550px;
        height: 300px;
        padding-top: 20px;
    }

    .circle {
        position: absolute;
        top: 25%;
        left: 35%;
        width: 174px;
        height: 174px;
    }

    .microphone {
        position: absolute;
        top: 35%;
        left: 44%;
        width: 70px;
        height: 70px;
    }

    .badge {
        position: absolute;
        top: 25%;
        left: 56%;
        color: #1A0B2E;
        background: #00FF88;
        border: none;
        padding: 5px 7px;
        border-radius: 5px;
        font-size: xx-small;
    }

    .podcast-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 120px;
        padding-left: 100px;
        gap: 15px;
        padding-bottom: 70px;
    }

    .podcast-card-container h2 {
        color: #00FF88;
        font-size: 45px;
    }

    .podcast-card-container p {
        color: #FFFFFF;
        font-size: 18px;
    }

    .techwave-section {
        background: rgba(35, 14, 61, 1);
        padding-top: 60px;
        padding-left: 80px;
        padding-right: 60px;
        padding-bottom: 60px;
    }

    .feature-card-1,
    .feature-card-2 {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card-1,
    .card-4 {
        width: 400px;
        height: 287px;
    }

    .card-2,
    .card-3,
    .card-5 {
        width: 400px;
        height: 220px;
    }

    .host-section {
        width: 500px;
        height: 240px;
        display: flex;
        border-radius: 40px;
    }


    .feature-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 100px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .feature-card {
        width: 370px;
        padding-bottom: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .video-content {
        width: 100%;
        /* padding-left: 10px; */
        padding-top: 5px;
    }


    .host {
        padding-left: 30px;
    }

    .host-img img {
        height: 180px;
        width: 180px;
    }

    .host-details {
        width: 320px;
        height: 200px;
        padding-left: 20px;
        color: #FFFFFF;
    }

    .host-details h3 {
        font-size: 20px;
        padding-bottom: 3px;
    }

    .host-details p {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .footer-image {
        width: 580px;
        height: 300px;
    }

    .footer-content {
        position: absolute;
        bottom: 100px;
        left: 180px;
        z-index: 1;

    }

    .logo-2 {
        font-size: 1.3rem;
    }

    .footer-socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }

}